@import "mixins";
@import "variables";
@import "colors";
@import "vendors/index";
@import "fonts";

body {
  font-family: $font-family;
  width: 100%;
  height: 100%;
}

td {
  font-size: 13px;
}

th {
  color: $gray-text;
  font-size: 13px;
  font-weight: 400;
}

tr {
  border-bottom: none !important;
  padding: $spacer;
}

thead {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.small-gutters {
  margin-left: - $spacer / 4;
  margin-right: - $spacer / 4;

  > .col,
  > [class*="col-"] {
    padding-left: $spacer / 4;
    padding-right: $spacer / 4;
  }
}

h5 {
  font-size: 22px !important;
}

