<div class="s-find p-3">
  <header>
    <h5>Поиск подрядчика</h5>
  </header>
  <div class="s-find__specialize mt-5">
    <header>
      <h6>Специализация</h6>
      <small class="text-gray">
        Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. По всей залетают запятых диких ее собрал?
      </small>
    </header>
    <div class="s-find__controls mt-3">
      {% for i in range(0 ,4) %}
      <div class="s-find__control w-50 mb-3">
        <select>
          <option value="" disabled selected>Автоматизация бизнес процессов</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
      </div>
      {% endfor %}
    </div>
    <p>
      <button class="button button_primary">Показать
        <span class="s-find__counter ">165</span>
      </button>
    </p>
  </div>
</div>
