.review-tree {
  &__item {
    margin-bottom: 32px;
    position: relative;
    padding-left: 72px;
  }

  &__field {
    margin-bottom: 8px;
    display: inline-block;
  }

  &__icon {
    position: absolute;
    left: 24px;
    top: 24px;
    transform: translate(-50%, -50%);
    font-size: 18px;
  }

  &_create,
  &_refresh,
  &_verify_done,
  &_verify_ok,
  &_verify_fail {
    &::before {
      content: "";
      position: absolute;
      width: 48px;
      height: 48px;
      left: 0;
      border-radius: 50%;
    }

    &::after {
      content: "";
      position: absolute;
      width: 1px;
      height: calc(100% - 48px);
      left: 24px;
      top: 48px;
      background-color: #cccccc;
    }

    & .review-tree-bg {
      background-color: #efefef;
    }
  }

  &_create {
    &::before {
      border: 1px solid #cccccc;
    }

    &::after {
      background-color: #cccccc;
    }
  }

  &_refresh {
    &::before {
      border: 1px solid #f4f5da;
    }

    &::after {
      background-color: #f4f5da;
    }

    & .review-tree-bg {
      background-color: #f4f5da;
    }
  }

  &_verify_done {
    &::before {
      border: 1px solid #dcf5da;
    }

    &::after {
      background-color: #dcf5da;
    }

    & .review-tree-bg {
      background-color: #dcf5da;
    }
  }

  &_verify_fail {
    &::before {
      border: 1px solid #ffe3e3;
    }

    &::after {
      background-color: #ffe3e3;
    }

    & .review-tree-bg {
      background-color: #ffe3e3;
    }
  }

  &_verify_ok {
    &::before {
      border: 1px solid #c9ffb7;
    }

    &::after {
      background-color: #c9ffb7;
    }

    & .review-tree-bg {
      background-color: #c9ffb7;
    }
  }
}

