<div class="s-review-tree__tabs row mt-5">
  <div class="col-12">
    <ul class="tabs">
      <li class="tab col s3">
        <a href="#review">Отзыв</a>
      </li>
      <li class="tab col s3">
        <a href="#reestr">Реестр</a>
      </li>
    </ul>
  </div>
  <div id="review" class="mw-60 mt-5">
    {% include './review/create.njk' %}
    {% include './review/refresh.njk' %}
    {% include './review/verify_done.njk' %}
    {% include './review/verify_fail.njk' %}
    {% include './review/verify_ok.njk' %}
  </div>
  <div id="reestr" class="col s12">
      reestr
  </div>
</div>
