<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  Навигация
  <ul style="list-style-type: none;">
    <li><a href="reviews.html">Все отзывы</a></li>
    <li><a href="contractors.html">Контракты</a></li>
    <li><a href="review-tree.html">Отзыв с табами</a></li>
    <li><a href="review.html">Отзыв</a></li>
    <li><a href="user.html">Пользователь</a></li>
    <li><a href="find-contractors.html">Поиск контракта</a></li>
    <li><a href="add-reviews.html">Добавить отзыв</a></li>
  </ul>
</body>
</html>
