.custom-progress {
  position: relative;
  width: 100%;
  height: 24px;
  background-color: #d3d3d3;

  &_primary > .custom-progress-line {
    background-color: #039be5;
  }

  &_secondary > .custom-progress-line {
    background-color: #77e27d;
  }
}

.custom-progress-line {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  transition: 800ms;
  width: 0%;
}

.custom-progress-percent {
  position: relative;
  padding-right: 8px;
  font-size: 14px;
  color: #ffffff;
}
