.s-user {
  &__link-name,
  &__info-name {
    min-width: 120px;
    display: inline-block;
  }

  &__aside-block {
    position: absolute;
    right: 24px;
    top: 24px;
    display: flex;
    align-items: center;
  }

  &__photo {
    margin-left: 32px;
  }
}
