<header>
  <h5 class="text-gray">Область ответственность вашей компании <a href="/">Ланит Москва</a></h5>
  <small class="text-gray">
    Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. По всей залетают запятых диких ее собрал?
  </small>
</header>
