<header>
  <h5 class="m-0 text-gray">Отзыв
    <span>53454</span>
  </h5>
  <div class="mt-3">
    <section>
      <span>от</span>
      <a href="/">Ланит Москва</a>
    </section>
    <section>
      <span>на</span>
      <a href="/">Магнит Столичный</a>
    </section>
  </div>
</header>
