<div class="io-block">
  <header class="io-block__header">
    <h5>7. Общая оценка сотрудничества</h5>
    <small class="text-gray">
      Далеко-далеко за, словесными горами в стране гласных и согласных живут рыбные тексты.
    </small>
  </header>
  <div class="io-block__controls d-flex mt-3">
    <div class="io-block__control w-50 mr-5">
      <div class="rating">
        {% for i in range(0, 5) %}
        <svg class="star" width="32" height="32" data-id="{{i+1}}">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./images/nofill.svg#star">
          </use>
        </svg>
        {% endfor %}
      </div>
    </div>
  </div>
