<div class="verificator mt-5">
  <header>
    <h5>6. Дополнительный верификатор.</h5>
    <small class="text-gray">
      Далеко-далеко за, словесными горами в стране гласных и согласных живут рыбные тексты.
    </small>
  </header>
  <p class="mt-3">
    <button class="button button_outline">
      + Добавить ещё одного верификатора
    </button>
  </p>
</div>
