&__reviews-item {
  width: auto;
  position: relative;
}

&__reviews-link {
  color: $purple-text;
  display: inline-block;
  margin: $spacer/4 0;
}

&__reviews-count {
  position: absolute;
  top: 0;

  padding: 2px;
  margin-left: 4px;
  color: green;
  font-size: 10px;
}
