<div class="card p-4 mt-5">
  <header>
    <h5 class="text-gray">
      Отзыв
      <a href="/">504035</a>
      от вашей компании
      <a href="/">Ланит Москва</a>
    </h5>
    <small class="text-gray">Создан:
      <time>12 мая 2018, 21:56</time>
    </small>
    <br>
    <small class="text-gray">Роль:
      <span>Заказчик</span>
    </small>
    <br>
    <small class="text-gray">Статус:
      <span>Идет верификация</span>
    </small>
  </header>
  <div class="mt-3">
    <div class="mb-2">
      <span>Инициатор:</span>
      <a href="/">Алексей Никифоров</a>
    </div>
    <div class="mb-2">
      <span>Компетенция:</span>
      <a href="/">Интеграция веб-сервисов</a>
    </div>
    <div>
      <span>Компания:</span>
      <a href="/">Магнит</a>
    </div>
  </div>
  <p class="mt-5">
    <button class="button status_waiting" disabled>Ожидает верификации</button>
  </p>
</div>
