{% set items = [
  {
    name: 'Сотрудники',
    href: '/workers'
  },
  {
    name: 'Компания',
    href: '/company'
  },
  {
    name: 'Справочник компетенций',
    href: '/book'
  },
  {
    name: 'Настройки',
    href: 'settings'
  }
] %}

<section class="panel__common mt-5">
  <ul class="panel__common-list list-unstyled">
    {% for item in items %}
      <li class="panel__common-item">
        <a href="{{ item.href }}" class="panel__common-link">{{ item.name }}</a>
      </li>
    {% endfor %}
  </ul>
</section>
