{% set reviews = [
  {
    name: 'Все отзывы',
    href: '/reviews',
    count: 45
  },
  {
    name: 'Верифицировать отзыв',
    href: '/reviews/verify',
    count: 45
  },
  {
    name: 'Добавить отзыв',
    href: '/reviews/add',
    count: 0
  }
] %}

<section class="panel__reviews">
  <header>
    <h6 class="m-0 mb-2 text-gray">Отзывы</h6>
  </header>
  <ul class="panel__reviews-list list-unstyled">
    {% for review in reviews %}
      <li class="panel__reviews-item">
        <a href="{{ review.href }}" class="panel__reviews-link">{{ review.name }}</a>
        {% if review.count %}
          <span class="panel__reviews-count">{{ review.count }}</span>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</section>
