[data-status="record"] {
  background-color: #eefced;
}

.status {
  padding: $spacer/4 $spacer;
  border-radius: 8px;

  &_waiting {
    background-color: green;
    color: $primary-white;
    opacity: 0.6;
  }

  &_record {
    background-color: green;
    color: $primary-white;
  }

  &_changed {
    background-color: #ffe500;
    color: $gray-text;
  }
}
