.b-comment {
  margin-top: $spacer*2;
  display: flex;
  flex-wrap: wrap;

  .b-comment__text {
    background-color: #ebebeb;
    max-width: 70%;
    padding: $spacer;
  }

  &:nth-child(odd) {
    justify-content: flex-end;
    & .b-comment__text {
      background-color: rgb(98, 211, 98);
      color: #ffffff;
    }
  }
}
