<div class="tab-comment b-comment-wrapper mt-5">
  <header class="mb-3">
    <span><b>Комментарии</b></span>
  </header>
  {% for i in range(0, 2) %}
    <div class="b-comment">
      <div class="b-comment__text">
        <time class="mb-2 d-flex"><small>12 мая 2018, 23:56</small></time>
          <p>
            Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Продолжил, рыбными страну? Грамматики
            наш текста строчка грустный, маленький что?
          </p>
      </div>
      <div class="w-50 mt-3">
          <div class="row">
            <div class="col-2">
              <span class="d-flex align-items-center justify-content-center">
                <img src="https://images.duckduckgo.com/iu/?u=http%3A%2F%2Fclassroomclipart.com%2Fimages%2Fgallery%2FClipart%2FFaces%2FTN_face-of-bald-headed-man-with-mustache.jpg&f=1" width="60" alt="Фотография сотрудника">
              </span>
            </div>
            <div class="col-10">
              <span>
                <b>Осипов Александо Дмитриевич</b>
              </span>
              <br>
              <small class="text-gray">#2412 Интеграция лалала</small>
            </div>
          </div>
        </div>
    </div>
  {% endfor %}

  <form>
    <header class="mt-5">
      <span><b>Добавить комментарий</b></span>
    </header>
    <div class="input-field">
      <textarea id="textarea1" class="materialize-textarea"></textarea>
      <label for="textarea1">Введите комментарий</label>
    </div>
    <div>
      <button class="button button_primary">Добавить</button>
    </div>
    </div>
  </form>
</div>
