<div class="row mt-5">
  <div class="col-12">
    <ul class="tabs">
      <li class="tab col s3"><a href="#review">Отзыв</a></li>
      <li class="tab col s3"><a href="#comments">Комментарии</a></li>
      <li class="tab col s3"><a href="#reestr">Реестр</a></li>
    </ul>
  </div>
  <div id="review" class="col s12">
    {% include './review/index.njk' %}
  </div>
  <div id="comments" class="col s12">
    {% include './comment/index.njk' %}
  </div>
  <div id="reestr" class="col s12">Test 3</div>
</div>
