<form class="form form-add-reviews">
  <div class="row">
    <div class="w-50">
      {% include './io-blocks/role.njk' %}
      {% include './io-blocks/iniciator.njk' %}
      {% include './io-blocks/competention.njk' %}
    </div>
    <div class="w-100">
      {% include './company-response/index.njk' %}
      {% include './executor-response/index.njk' %}
      {% include './verificator/index.njk' %}
      {% include './rate/index.njk' %}
    </div>
  </div>
</form>
