<div class="s-add">
  <div class="s-add__inner">
      {% include './header.njk' %}
      <div class="form-wrapper">
        {% include './form.njk' %}
      </div>
      <p>
        <button class="button button_primary">Добавить</button>
      </p>
  </div>
</div>
