<section class="files mt-5">
  <header class="mb-3">
    <span>
      <b>Файлы</b>
    </span>
  </header>
  <p>
    <a href="/">
      Соглашение о сотрудничестве.docx
    </a>
    <span class="text-gray">(1,8Mb)</span>
  </p>
  <p>
    <a href="/">
      Соглашение о сотрудничестве.docx
    </a>
    <span class="text-gray">(1,8Mb)</span>
  </p>
</section>
