<div class="review-tab">
  <section class="competention-section mt-5">
    {% include './header.njk' %}
    <div class="mt-5">
      <span>
        <b>Сотрудники и заявленные компетенции</b>
      </span>
      <br> {% include './worker-card.njk' %} {% include './worker-card.njk' %} {% include '../../../components/button_add.njk'
      %}
    </div>
  </section>
  <section class="worker-section mt-5">
    <div class="card p-4">
      <div>
        <span>
          <b>Исполнитель</b>
        </span>
        <br> {% include './worker-card.njk' %}
      </div>
      <div class="mt-5">
        <span>
          <b>Сотрудники исполнителя</b>
        </span>
        <br> {% include './worker-card.njk' %} {% include '../../../components/button_add.njk' %}
      </div>
    </div>
  </section>
  <section class="verify-section mt-5">
    <div class="card p-4">
      <span>
        <b>Дополнительная верификация</b>
      </span>
      <br> {% include './worker-card.njk' %} {% include '../../../components/button_add.njk' %}
    </div>
  </section>
  {% include './rate.njk' %}
  {% include './comment.njk' %}
  {% include './files.njk' %}
</div>
