<section class="rate-section mt-5">
    <header>
      <span>
        <b>Отзыв</b>
      </span>
    </header>
    <div class="rating-list d-flex justify-content-between mt-3">
      <div class="rating" data-rating="1">
        <header class="mb-3">
          <span>
            <b>Общая оценка</b>
          </span>
        </header>
        {% for i in range(0, 5) %}
        <svg class="star" width="16" height="16" data-id="{{i+1}}">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./images/nofill.svg#star">
          </use>
        </svg>
        {% endfor %}
      </div>
      <div class="rating" data-rating="2">
        <header class="mb-3">
          <span>
            <b>Оценка компетенции</b>
          </span>
        </header>
        {% for i in range(0, 5) %}
        <svg class="star" width="16" height="16" data-id="{{i+1}}">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./images/nofill.svg#star">
          </use>
        </svg>
        {% endfor %}
      </div>
      <div class="rating" data-rating="1">
        <header class="mb-3">
          <span>
            <b>Оценка персонала</b>
          </span>
        </header>
        {% for i in range(0, 5) %}
        <svg class="star" width="16" height="16" data-id="{{i+1}}">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./images/nofill.svg#star">
          </use>
        </svg>
        {% endfor %}
      </div>
    </div>
  </section>
