<div class="worker-card w-50 mt-3">
  <div class="row">
    <div class="col-2">
      <span class="worker-card__img d-flex align-items-center justify-content-center">
        <img src="https://images.duckduckgo.com/iu/?u=http%3A%2F%2Fclassroomclipart.com%2Fimages%2Fgallery%2FClipart%2FFaces%2FTN_face-of-bald-headed-man-with-mustache.jpg&f=1" width="60" alt="Фотография сотрудника">
      </span>
    </div>
    <div class="col-10">
      <span class="worker-card__name">
        <b>Осипов Александо Дмитриевич</b>
      </span>
      <br>
      <small class="text-gray">#2412 Интеграция лалала</small>
      <br>
      <small class="text-gray">
        Ваша оценка:
        <span class="worker-card__rate" data-worker-rate="100">
          100% (отлично)
        </span>
      </small>
    </div>
  </div>
</div>
