.rating[data-rating="0"] {
  & .star {
    fill: #cccccc;
  }
}

.rating[data-rating="1"] {
  & .star[data-id="1"] {
    fill: gold;
  }
}

.rating[data-rating="2"] {
  .star[data-id="1"],
  .star[data-id="2"] {
    fill: gold;
  }
}

.rating[data-rating="3"] {
  .star[data-id="1"],
  .star[data-id="2"],
  .star[data-id="3"] {
    fill: gold;
  }
}

.rating[data-rating="4"] {
  .star[data-id="1"],
  .star[data-id="2"],
  .star[data-id="3"],
  .star[data-id="4"] {
    fill: gold;
  }
}

.rating[data-rating="5"] {
  .star[data-id="1"],
  .star[data-id="2"],
  .star[data-id="3"],
  .star[data-id="4"],
  .star[data-id="5"] {
    fill: gold;
  }
}

.star {
  fill: #cccccc;

  &.is-fill {
    fill: gold;
  }
}
