<div class="io-block mt-5">
  <header class="io-block__header">
    <h5>2. Компетенция/область</h5>
    <small class="text-gray">
      Далеко-далеко за, словесными горами в стране гласных и согласных живут рыбные тексты.
    </small>
  </header>
  <div class="io-block__controls d-flex mt-3">
    <div class="io-block__control w-100">
      <select>
        <option value="" disabled selected>Choose your option</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
      </select>
    </div>
  </div>
</div>

