<div class="io-block mt-5">
  <header class="io-block__header">
    <h5>Выбор роли *</h5>
    <small class="text-gray">
      Далеко-далеко за, словесными горами в стране гласных и согласных живут рыбные тексты.
    </small>
  </header>
  <div class="io-block__controls d-flex mt-3">
    <div class="io-block__control">
      <label>
        <input type="checkbox" class="filled-in" checked="checked" />
        <span>Исполнитель</span>
      </label>
    </div>
    <div class="io-block__control ml-5">
      <label>
        <input type="checkbox" class="filled-in" checked="checked" />
        <span>Заказчик</span>
      </label>
    </div>
  </div>
</div>
