// Переназначение стилей, потому и important

.tabs {
  & .indicator {
    display: none;
  }
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {
  background-color: transparent !important;
}

.tab {
  & a {
    color: #039be5 !important;

    &:hover {
      text-decoration: none;
      background-color: #e6f6ff !important;
    }
  }
  & a.active {
    color: #039be5 !important;
    border-bottom: 1px solid #039be5 !important;
  }
}
