
<div class="s-contractors">
  <div class="s-contractors__inner">
    <header class="mb-5">
      <h5 class="m-0">Все отзывы</h5>
    </header>
    {% include './selects.njk' %}
    {% include './table.njk' %}
  </div>
</div>
