{% set data = [
  { id: 123123,
    region: 'Москва',
    company: 'Такая то',
    rating: 3,
    reviews: 15,
    competention: '#123123 Создание простых веб-приложений',
    date: '23 августа 2018, 23:51'
  },
  { id: 654645645,
    region: 'Астрахань',
    company: 'Другая',
    rating: 2,
    reviews: 15,
    competention: '#123123 Создание простых веб-приложений',
    date: '23 августа 2018, 23:51'
  },
  { id: 35434543,
    region: 'Далеко',
    company: 'Совсем другая',
    rating: 4,
    reviews: 15,
    competention: '#123123 Создание простых веб-приложений',
    date: '23 августа 2018, 23:51'
  }
] %}


<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Регион</th>
      <th>Компания</th>
      <th>Рейтинг</th>
      <th>Отзывов</th>
      <th>Компетенция/область</th>
      <th>Дата подключения</th>
    </tr>
  </thead>
  <tbody>
    {% for item in data %}
      <tr data-status="{{item.status}}">
        <td>{{item.id}}</td>
        <td>{{item.region}}</td>
        <td>
          <a href="/"> {{item.company}}</a>
        </td>
        <td>
          <div class="rating" data-rating="{{item.rating}}">
            {% for i in range(0, 5) %}
              <svg class="star" width="16" height="16" data-id="{{i+1}}">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./images/nofill.svg#star">
                </use>
              </svg>
            {% endfor %}
          </div>
        </td>
        <td>{{item.reviews}}</td>
        <td>{{item.competention}}</td>
        <td>{{item.date}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
