<div class="s-user__aside-block">
  <div class="s-user__radial-rating">
    <div id="indicatorContainer" data-rating="70"></div>
  </div>
  <div class="s-user__photo">
    <img width="80" height="80" src="https://images.duckduckgo.com/iu/?u=http%3A%2F%2Fclassroomclipart.com%2Fimages%2Fgallery%2FClipart%2FFaces%2FTN_face-of-bald-headed-man-with-mustache.jpg&amp;f=1" alt="Фотография пользователя">
  </div>
</div>
