<header>
  <h6 class="m-0 mb-2">Владислав Иванович Петренко</h6>
  <small class="s-user__added-to-system text-gray">Добавление в систему: 12 мая 2018, 21:56</small>
  <br>
  <small class="text-gray">
    Статус пользователя:
    <span class="s-user__is-verify">Верифицирован</span>
  </small>
</header>
