{% set infos = [
  { title: 'Компания', descr: 'Ланит Москва' },
  { title: 'Должность', descr: 'Архитектор по автоматизации' },
  { title: 'Опыт', descr: 'Более 666 лет' }
]%}

<div class="s-user__info mt-3">
  {% for info in infos %}
    <div class="s-user__info-line mb-2">
      <span class="s-user__info-name">{{ info.title }}:</span>
      <a href="/">{{ info.descr }}</a>
    </div>
  {% endfor %}
</div>
