{% set links = [
  {name: 'E-mail', path: ''},
  {name: 'Телефон', path: ''},
  {name: 'Сайт', path: ''},
  {name: 'Facebook', path: 'avalva100.facebook.com'},
  {name: 'Linkedin', path: ''},
  {name: 'МойКруг', path: ''},
  {name: 'Skype', path: 'avalva100'}
]%}

<div class="s-user__links mt-4">
  <ul class="s-user__links-list">
    {% for link in links %}
      <li class="d-flex w-50 mb-2 pr-5">
        {% if link.path %}
          <span class="s-user__link-name">{{ link.name }}:</span>
          <a href="{{ link.path }}">{{ link.path }}</a>
        {% else %}
          <span class="s-user__link-name">{{ link.name }}:</span>
          <span class="text-gray">Пользователь решил скрыть данные</span>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>
