<div class="review-tree__item review-tree_refresh">
<div class="review-tree__icon">
     <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
  </div>
  <header>
    <span>Обновление отзыва
      <a href="/">54935</a>
    </span>
    <br>
    <span>Компания:
      <a href="/">ПАО МТС Москва</a>
    </span>
  </header>
  <main class="review-tree-bg p-4 mt-3">
    <ul class="list-unstyled">
      <li>
        <span class="review-tree__field">Отзыв:
          <a href="/">503405</a>
        </span>
      </li>
      <li>
        <span class="review-tree__field">Создан:
          <span>12 августа 2018, 21:45</span>
        </span>
      </li>
      <li>
        <span class="review-tree__field">Компетенция:
          <a href="/">284538543 - Разработка и интеграция портального решения на основе лалал</a>
        </span>
      </li>
      <li>
        <span class="review-tree__field">Инициатор:
          <a href="/">Человек Гусев</a>
        </span>
      </li>
    </ul>

    <span class="mt-3 d-flex mb-2">
      <b>Обновлено:</b>
    </span>
    <ul>
      <li class="mb-2">
        +Добавлен сотрудник компании в отзыве:
        <a href="/">Анатолий Петров</a>
      </li>
      <li class="mb-2">
        +Добавленф компания-производитель ПО:
        <a href="/">Магнит Москва</a>
      </li>
    </ul>
  </main>
</div>
