<div class="review-tree__item review-tree_verify_fail">
 <div class="review-tree__icon">
    <i class="fa fa-check" aria-hidden="true"></i>
  </div>
  <header>
    <span>Отказ верификации отзыва <a href="/">54935</a></span>
    <br>
    <span>Компания: <a href="/">ПАО МТС Москва</a></span>
  </header>
  <main class="review-tree-bg review-create__main p-4 mt-3">
    <ul class="list-unstyled">
      <li>
        <span class="review-tree__field">Отзыв:
          <a href="/">503405</a>
        </span>
      </li>
      <li>
        <span class="review-tree__field">Создан:
          <span>12 августа 2018, 21:45</span>
        </span>
      </li>
      <li>
        <span class="review-tree__field">Обновление:
          <span>12 августа 2018, 21:45</span>
        </span>
      </li>
      <li>
        <span class="review-tree__field">Отзыв верифицирован:
          <a href="/">Человек Гусев</a>
        </span>
      </li>
      <li>
        <span class="review-tree__field">Отказ верификации компанией:
          <span>12 августа 2018, 21:45</span>
        </span>
      </li>
      <li>
        <span class="review-tree__field">Отказ верифицирован:
          <a href="/">Человек Верификатор</a>
        </span>
      </li>
      <span class="mt-3 mb-2 d-flex"><b>Причина:</b></span>
      <p>
        <em>Вы указали Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Путь текста снова ему своих, обеспечивает домах алфавит взгляд своего.</em>
      </p>
    </ul>
  </main>
</div>
