<div class="review-tree__item review-tree_verify_done">
  <div class="review-tree__icon">
    <i class="fa fa-check" aria-hidden="true"></i>
  </div>

  <header>
    <span>Верификация отзыва
      <a href="/">54935</a>
    </span>
    <br>
    <span>Компания:
      <a href="/">ПАО МТС Москва</a>
    </span>
  </header>
  <main class="review-tree-bg review-create__main p-4 mt-3">
    <ul class="list-unstyled">
      <li>
        <span class="review-tree__field">Отзыв:
          <a href="/">503405</a>
        </span>
      </li>
      <li>
        <span class="review-tree__field">Создан:
          <span>12 августа 2018, 21:45</span>
        </span>
      </li>
      <li>
        <span class="review-tree__field">Обновление:
          <span>12 августа 2018, 21:45</span>
        </span>
      </li>
      <li>
        <span class="review-tree__field">Верификация инициатором:
          <span>12 августа 2018, 21:45</span>
        </span>
      </li>
      <li>
        <span class="review-tree__field">Отзыв верифицирован:
          <a href="/">Человек Иванов</a>
        </span>
      </li>
    </ul>
  </main>
</div>
