<div class=".s-user__tabs row mt-5">
  <div class="col-12">
    <ul class="tabs">
      <li class="tab col s3">
        <a href="#experience">Опыт и компетенции</a>
      </li>
      <li class="tab col s3">
        <a href="#work-location">Места работы</a>
      </li>
    </ul>
  </div>
  <div id="experience" class="w-50 mt-5">
    <div class="s-user__rating">
      <span>Общий рейтинг сотрудника по компетенциям</span>
      <div class="custom-progress custom-progress_primary mt-2" data-progress="70%">
        <div class="custom-progress-line"></div>
      </div>
      <small>Всего верификаций: <span>42</span></small>
    </div>
    <div class="s-user__specific mt-4">
      <span>#12312 Автоматизация бизнес-процессов в розничной торговле</span>
      <div class="custom-progress custom-progress_secondary mt-2" data-progress="40%">
        <div class="custom-progress-line"></div>
      </div>
      <small>Рубрикатор компании Ланит Москва</small>
      <br>
      <small>Всего верификаций: <span>4</span></small>
    </div>
  </div>
  <div id="work-location" class="col s12">
      work-location
  </div>
</div>
