{% set data = [
  { id: 123123,
    type: 'Исходящий',
    company: 'Такая то',
    dreamer: 'Василий Веселый',
    competention: '#123123 Создание простых веб-приложений',
    date: '23 августа 2018, 23:51',
    status: 'waiting',
    statusText: 'Идет верификация'
  },
  { id: 654645645,
    type: 'Входящий',
    company: 'Другая',
    dreamer: 'Василий Старый',
    competention: '#123123 Создание простых веб-приложений',
    date: '23 августа 2018, 23:51',
    status: 'record',
    statusText: 'Записан в блокчейн'
  },
  { id: 35434543,
    type: 'Исходящий',
    company: 'Совсем другая',
    dreamer: 'Василий Грустный',
    competention: '#123123 Создание простых веб-приложений',
    date: '23 августа 2018, 23:51',
    status: 'changed',
    statusText: 'Внесены изменения'
  }
] %}


<div class="s-reviews">
  <div class="s-reviews__inner">
    <header class="mb-5">
      <h5 class="m-0">Все отзывы</h5>
    </header>
    {% include './selects.njk' %}
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Тип отзыва</th>
          <th>Компания</th>
          <th>Инициатор</th>
          <th>Компетенция/область</th>
          <th>Дата создания</th>
          <th>Статус</th>
        </tr>
      </thead>
      <tbody>
        {% for item in data %}
          <tr data-status="{{item.status}}">
            <td>{{item.id}}</td>
            <td>{{item.type}}</td>
            <td>{{item.company}}</td>
            <td>{{item.dreamer}}</td>
            <td>{{item.competention}}</td>
            <td>{{item.date}}</td>
            <td>
            <span class="status status_{{item.status}}">
            {{item.statusText}}</span>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <p class="mt-4">
      <button class="button button_primary">Подробнее</button>
    </p>
  </div>
</div>
