<div class="row justify-content-end">
  {% for i in range(0, 3) %}
    <div class="col-3">
      <div class="input-field">
        <select>
          <option value="" disabled selected>Поиск по роли</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
      </div>
    </div>
  {% endfor %}
</div>
