.button {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid transparent;
  margin: 0;
  padding: $spacer/2 $spacer;

  &_primary {
    background-color: #5970f3;
    color: $primary-white;
    transition: 400ms;

    &:hover {
      opacity: 0.8;
    }
  }

  &_light {
    background-color: transparent;
    color: #dddddd;
    transition: 400ms;

    &:hover {
      border: 2px solid #5970f3;
      color: #a3a3a3;
    }
  }

  &_add {
    color: #5970f3;
  }

  &_outline {
    border: 1px solid #5970f3;
    color: #5970f3;
  }
}
