.v-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  height: 1px;
  width: 1px;
  margin: -1px;
  position: absolute;
  padding: 0;
}

.list-unstyled {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.text-gray {
  color: $gray-text;
}

.mw-60 {
  min-width: 800px;
  max-width: 60%;
}
